.main {
  display: flex;
  flex-direction: column;  
  align-items: center;
  padding: 10rem;  
  margin-top: 3rem;
}

.logo {
  position: relative;
}


.center {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 4rem 0;
}
