.main {
  display: flex;
  flex-direction: column;
  align-items: center;  
  padding: 10rem;  
  margin-top: 3rem;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 4rem 0;
}

.bottom {
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  font-size: 0.85rem;
  max-width: var(--max-width);
  width: 100%;
  z-index: 2;
  font-family: var(--font-mono);
}

.card {  
  padding: 1rem 1.2rem;
  border-radius: var(--border-radius);
  background: rgba(var(--card-rgb), 0);
  border: 1px solid rgba(var(--card-border-rgb), 0);
  transition: background 200ms, border 200ms;
  min-height: 114px;
}

.card span {
  display: inline-block;
  transition: transform 200ms;
}

.card h2 {
  font-weight: 600;
  margin-bottom: 0.7rem;
}

.card p {
  margin: 0;
  opacity: 0.6;
  font-size: 0.9rem;
  line-height: 1.5;
  /* max-width: 100ch; */
}

.link{
  width: 100%;
}

.pageTitle{
  margin: 5rem 0 5rem 0;
  width: 80vw;
  max-width: 30rem;
  font-family: var(--font-mono);
}

.pageTitle h2 {
  margin: 2rem 0 1rem 0;
}

.icons {
font-size: 2rem;
margin: 1rem
}

.iconsContent {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  width: 100%
}

.textCenter { 
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
  font-family: var(--font-mono);
}

@media (hover: hover) and (pointer: fine) {
  .card:hover {
    background: rgba(var(--card-rgb), 0.1);
    border: 1px solid rgba(var(--card-border-rgb), 0.15);
  }

  .card:hover span {
    transform: translateX(4px);
  }
}

@media (prefers-reduced-motion) {
  .card:hover span {
    transform: none;
  }
}

@media (max-width: 900px) {
  .main {
    padding: 1rem;
  }

  .bottom {
      display: flex;
      flex-direction: column;
      align-items: center;
  }
  
  .card {
      width: 100%;
      margin-bottom: 10px;
  }

  .card p {
    max-width: 100%;
  }

}
