.accountList {
  max-width: 500px;
  min-width: 300px;
  margin: 0.1rem;
  padding: 0.2rem;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}

.accountList:hover {
  background: rgba(var(--card-rgb), 0.1);  
  box-shadow: inset 1px 1px 0 rgba(var(--card-border-rgb), 0.15);
}

.accountDescription {  
  gap: 0.3rem;
  display: flex;  
  align-items: center;
  justify-content: space-between;
}

.accountDescription svg{
  width: 15px;  
}


.iconMore {
 padding: 0.2rem;
 background-color: 'red'
}

.iconMore:hover {
  cursor: pointer;
  padding: 0.2rem;
  box-shadow: inset 1px 1px 0 rgba(var(--card-border-rgb), 0.15);
 }

.inputDescription { 
  max-width: 500px;
  min-width: 100px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #00C5FF;
  border: none;
  background-color: transparent;
  font-size: 1rem;  
  width: 80%;
}

.inputDescription:focus, .inputDescriptionAdd:focus, .inputValue:focus {
  outline: none;
}

.inputValue { 
  color: #00C5FF;
  border: none;
  background-color: transparent;
  font-size: 1rem;
  width: 30%;
}

.buttonSave {
  color: #10e6bc;
  border: none;
  background-color: transparent;
}

.buttonSave:hover{  
  cursor: pointer
}

.description {
  max-width: 90%;  
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.deleting {
  color: #D94848;
  animation: load 2s infinite;
}

@keyframes load {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
