.header {    
  background-color: #320404;  
  justify-content: space-between;
}

.userSection{
  display: flex;
  gap: 1rem;
}

.headerOff {
  justify-content: flex-start;
}

.headerOff, .header {
  width: 100vw;
  min-height: 3rem;
  
  display: flex;  
  flex-direction: row;        
  align-items: center;

  position: fixed;
  padding: 0 1rem 0 1rem;  
  gap: 1rem;
  z-index: 1000;
}

.header svg, .headerOff svg {
  font-size: 1.5rem;
}

.header svg:hover {
  cursor: pointer
}

.iconLogout:hover {
 color: #c80b0b
}

.link {
  gap: 0.2rem;
    
  display: flex;  
  flex-direction: row;        
  align-items: center;

  padding: 0.1rem 0.7rem;

  border-radius: var(--border-radius); 
  background: rgba(var(--card-rgb), 0.1);
  border: 2px solid rgba(var(--card-border-rgb), 0.15);
}