.header {    
  background-color: #320404;  
  justify-content: flex-end;
}

.headerOff {
  justify-content: flex-start;
}

.headerOff, .header {
  width: 100vw;
  min-height: 3rem;
  
  display: flex;  
  flex-direction: row;        
  align-items: center;

  position: relative;
  padding: 0 1rem 0 1rem;  
  gap: 1rem;
}

.header svg, .headerOff svg {
  font-size: 1.5rem;
}

.header svg:hover {
  cursor: pointer
}

.iconLogout:hover {
 color: #c80b0b
}